:root{
    --primary-color:hsl(189, 100%, 50%);
    --text-color:hsl(0, 0%, 31%);
    --bg-color:hsl(0, 0%, 90%);
    --bg-card-color:hsl(0, 0%, 98%);
    --transition: color 0.4s, background-color 0.8s ease-in-out;
    --border-radius: .4em;
    --skills-bar-lenght: 0%;
}

* {
    box-sizing: border-box;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body{
    margin: 0;
    background-color: var( --bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family: sans-serif;
}

body.dark{
    --text-color:hsl(0, 20%, 99%);
    --bg-color:hsl(0, 0%, 15%);
    --bg-card-color:hsl(0, 0%, 20%);
}

.body_loader {
    justify-content: center;
    background-color: rgb(36, 36, 36);
}

.title {
    font-family: "Nanum Brush Script", serif;
    font-weight: 500;
    font-style: normal;
}

.title {
    margin-left: 40%;
    font-family: "Nanum Brush Script", serif;
    white-space: nowrap;
    border-right: 4px solid;
    width: 49ch;
    animation: typing 2s steps(28),
        blink 1.5s infinite step-end alternate;
    overflow: hidden;
}


@keyframes typing {
    from { width: 0;}
}
@keyframes blink {
    50% {border-color: transparent;}
}

.loader__container {
    margin-top: 200px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-square {
    display: grid;
    grid-template-columns: max-content max-content;
    animation: loader forwards 3s infinite;
}

.square {
    width: 60px;
    height: 60px;
    background-color: #3bc7eb;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 8px;
}

@property --square-1 {
    syntax: "<transform-function>";
    inherits: true;
    initial-value: translate(0,0);
}

@property --square-2 {
    syntax: "<transform-function>";
    inherits: true;
    initial-value: translate(0,0);
}

@property --square-3 {
    syntax: "<transform-function>";
    inherits: true;
    initial-value: translate(0,0);
}

@property --square-4 {
    syntax: "<transform-function>";
    inherits: true;
    initial-value: translate(0,0);
}

.square-1 {
    transform: var(--square-1);
}

.square-2 {
    transform: var(--square-2);
}

.square-3 {
    transform: var(--square-3);
}


.square-4 {
    transform: var(--square-4);
}



@keyframes loader {
    0%{
        --square-1:translate(0%, 0%);
        --square-2:translate(0%, 0%);
        --square-3:translate(0%, 0%);
        --square-4:translate(0%, 0%);
    }
    25%{
        --square-1:translate(-100%, -100%);
        --square-2:translate(100%, -100%);
        --square-3:translate(-100%, 100%);
        --square-4:translate(100%, 100%);
    }
    50%{
        --square-1:translate(200%, -100%);
        --square-2:translate(100%, 200%);
        --square-3:translate(-100%, -200%);
        --square-4:translate(-200%, 100%);
    }
    75%{
        --square-1:translate(100%, 0%);
        --square-2:translate(0%, 100%);
        --square-3:translate(0%, -100%);
        --square-4:translate(-100%, 0%);
    }
    
}

.title {
    margin-top: 100px;
    text-shadow: black 5px 5px;
    text-transform:;
}

.button {
    background-color: #023038;
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(14, 4, 0);
}

.button:hover {
    cursor: pointer;
    background-color: #248ba5;
}

.button:active {
    background-color: #1a697c;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: var(--transition);
}

.switches{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flags {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flags__item {
    width: 30px;
}

.flags__img {
    display: block;
    cursor: pointer;
}

.toggle-theme__icon {
    margin-right: .5em;
    width: 20px;
}

.toggle-theme__text {
    font-size: 0.8rem;
}

.colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100px;
}

.colors__item{
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    cursor: pointer;
    background-color: var(--primary-color);
    }

.colors__item--blue{
    --primary-color:hsl(198, 97%, 59%);
}

.colors__item--green{
    --primary-color:hsl(108, 98%, 53%);
}

.colors__item--purple{
    --primary-color:hsl(300, 93%, 55%);
}

.colors__item--orange{
    --primary-color:hsl(17, 96%, 53%);
}

.title{
    text-align: center;
    color: var(--primary-color);
    transition: var(--transition);
}

.main{
    display: grid;
    padding: 2em;
    gap: .5em;
}

@media screen and (min-width:720px) {
    .main{
        grid-template-columns: min-content 1fr;
    }  
}

.column{
    display: grid;
    gap: .5em;
}

@media screen and (min-width:720px) {
    .column--right{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
        align-items: start;
    }
    
}


.card {
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 7px black;
}

.card:hover {
    box-shadow: 0 0 16px black;
    transition: .8s;
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.card__image-container{
    min-width: 320px;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-left: 20px;
}

.img-profile{
    border-radius: var(--border-radius);
    border: 1px solid rgb(27, 27, 27);
}

.card__header{
    padding: 1em 0;
}

.card__title{
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.card__subtitle{
    font-size: .9rem;
    opacity: .8;
}

.card__link{
    margin-bottom: .5em;
    transition: var(--transition);

}

.card__text{
    font-size: .9rem;
    line-height: 1.5;
}

@media screen and (min-width: 760px) {
    .card--projets {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column: 1 / -1;
    }
}



.skills{
    
    padding: 0;
}

.skills-card-2 {
    margin-top: .8em;
}

.skills__header {
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
    margin-top: 0.5em;
    font-size: 0.8em;
}

.skills__tech{
    margin: 0;
    font-size: 0.8rem;
}

.skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin-bottom: 0.5em;
}

.skills__bar,
.skills__bar::after {
    position: relative;
    width: 175px;
    height: 8px;
    background-color: #888;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.skills__bar::after {
    left: -175px;
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    transition: var(--transition);
    animation: skills-bar-fill 2s ease-in-out forwards;
}

.skills__bar--70::after {
    --skill-bar-lenght: 70%;
}

.icon{
    margin-right: 1em;
}

.img-profile{
    justify-content: center;
}

.no-margin {
    margin: 0;
}

@keyframes skills-bar-fill {
    to{
        transform: translateX(var(--skills-bar-lenght));
    }
}

.skills__bar--10::after {
    --skills-bar-lenght: 10%;
}
.skills__bar--20::after {
    --skills-bar-lenght: 20%;
}
.skills__bar--30::after {
    --skills-bar-lenght: 30%;
}
.skills__bar--40::after {
    --skills-bar-lenght: 40%;
}
.skills__bar--50::after {
    --skills-bar-lenght: 50%;
}
.skills__bar--60::after {
    --skills-bar-lenght: 60%;
}
.skills__bar--70::after {
    --skills-bar-lenght: 70%;
}
.skills__bar--80::after {
    --skills-bar-lenght: 80%;
}
.skills__bar--90::after {
    --skills-bar-lenght: 90%;
}
.skills__bar--70::after {
    --skills-bar-lenght: 70%;
}
 
.experience {
    display: flex;
    align-items: start;
    margin-bottom: 1em;
    padding: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.experience__image {
    max-width: 15%;
    margin-right: 1em;
}

.experience__time {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.experience__job {
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
    transition: var(--transition);
}

.experience__description {
    font-size: .8rem;
    margin-bottom: 1.5rem;
}

.projets {
    position: relative;

}

@media screen and (min-width: 760px) {
    .projets {
        margin-left: 2em;
    }
}

.projets__tags {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    font-size: 0.8rem;
    width: 275px;

}

@media screen and (min-width: 760px) {
    .projets__tags {
        width: 325px;
        font-size: .8rem;
    }
}

.projets__tag {
    padding: .4em .8em;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--bg-color);
    transition: var(--transition);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 225px;
}

.button {
    width: 100px;
    line-height: 2.5;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);
    
}

.button--primary {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.button--ghost {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

@media screen and (min-width: 760px) {
    .buttons {
        position: absolute;
        bottom: 1em;
    }
}